:root {
  --button: #7c5de0;
  --background: #39238d;
  --x-color: #eb1751;
  --o-color: #ffd032;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background);
}

.select-box,
.play-board,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.options button:hover,
.btn button:hover {
  transform: scale(0.96);
}

/* Select Box */
.select-box {
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.select-box.hide {
  opacity: 0;
  pointer-events: none;
}
.select-box header {
  text-align: center;
  font-size: calc(30 / 16 * 1rem);
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.select-box .title {
  font-size: calc(22 / 16 * 1rem);
  font-weight: 500;
  margin: 20px 0;
}

.select-box .author {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 0 0 0;
  border-top: 1px solid lightgrey;

}

.select-box .author a:visited, a{
color: #7c5de0;
transition: all .3s ease;

}

.select-box .author a:hover{
  color: #5c3aca;
  
  }
  

.select-box .options {
  display: flex;
  width: 100%;
}
.options button {
  width: 100%;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 500;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.options button.playerX {
  background: var(--x-color);
  margin-right: 5px;
}
.options button.playerO {
  background: var(--o-color);
  margin-left: 5px;
}

/* Play Board */

.play-board {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details {
  padding: 7px;
  border-radius: 5px;
  background: #fff;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.play-board .players {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span {
  position: relative;
  z-index: 2;
  color: var(--background);
  font-size: calc(20 / 16 * 1rem);
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}
.players.active span:first-child {
  color: #fff;
}
.players.active span:last-child {
  color: var(--background);
}
.players span:first-child {
  color: #fff;
}
.players .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--button);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider {
  left: 50%;
}
.players.active span:first-child {
  color: var(--background);
}
.players.active span:nth-child(2) {
  color: #fff;
}
.players.active .slider {
  left: 50%;
}
/* Play Area */

.play-area {
  margin-top: 20px;
}
.play-area section {
  display: flex;
  margin-bottom: 1px;
}
.play-area section span {
  display: block;
  height: 130px;
  width: 130px;
  margin: 3px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: #fff;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.play-area section span i {
  margin-top: 35px;
  font-size: calc(50 / 16 * 1rem);
}
.fa-times {
  color: var(--x-color);
}
.fa-circle {
  color: var(--o-color);
}
/* Result Box */

.result-box {
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: #fff;
  pointer-events: none;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text {
  font-size: calc(30 / 16 * 1rem);
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.result-box .won-text p {
  color: var(--button);
  font-weight: 600;
  margin: 0 5px;
}
.result-box .btn {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn button {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: var(--button);
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Media Query */
@media (max-width: 500px) {
  /* Select Box */
  .select-box {
    max-width: 370px;
  }
  .select-box header {
    font-size: calc(25 / 16 * 1rem);
  }
  .select-box .title {
    font-size: calc(18 / 16 * 1rem);
  }
  .options button {
    font-size: 1rem;
  }

  /* Play Board */

  .play-board .players {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .players span {
    font-size: calc(18 / 16 * 1rem);
    padding: 7px 0;
  }

  /* Play Area */

  .play-area section span {
    height: 110px;
    width: 110px;
  }
  .play-area section span i {
    margin-top: 30px;
    font-size: calc(50 / 16 * 1rem);
  }
  /* Result Box */

  .result-box {
    max-width: 370px;
  }

  .result-box .won-text {
    font-size: calc(25 / 16 * 1rem);
  }
  .result-box .won-text p {
    color: var(--button);
    font-weight: 600;
    margin: 0 5px;
  }

  .btn button {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  /* Select Box */
  .select-box {
    max-width: 340px;
  }
  .select-box header {
    font-size: calc(20 / 16 * 1rem);
  }
  .select-box .title {
    font-size: 1rem;
  }
  .options button {
    font-weight: 600;
    font-size: calc(14 / 16 * 1rem);
  }

  .select-box .author {
    font-size: 1rem;
  
  }

  /* Play Area */

  .play-area section span {
    height: 100px;
    width: 100px;
  }
  .play-area section span i {
    margin-top: 25px;
  }
  /* Result Box */

  .result-box {
    max-width: 340px;
  }
}
